*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
font-family: sans-serif;
}
.logo{
height: 90%;
margin-top: 17px;
max-width: 100%;
}
.main_manu{
background:rgb(68, 0, 68);
text-align: center;
}
.main_manu ul{
display: inline-flex;
list-style:none;
color:#fff;
}
.main_manu ul li{
width:120px;
margin: 15px;
padding: 15px;
}
.main_manu ul li a{
text-decoration:none;
color:#fff;
}
.active, .main_manu ul li:hover{
background: rgb(124, 1, 124);
border-radius:3px;
}

.main_manu .fa{
margin-right:5px;
}
.sub-memu1{
display: none;
}
.main_manu ul li:hover .sub-memu1{
display: block;
position: absolute;
background:rgb(68, 0, 68);
margin-top: 15px;
margin-left: -15px;
}
.main_manu ul li:hover .sub-memu1 ul{
display: block;
margin: 10px;
}
.main_manu ul li:hover .sub-memu1 ul li{
width: 150px;
padding: 10px;
border-radius: 3px;
}
.collomx{
border: solid 1px blueviolet;
padding:30px;
width: 30%;
height: auto;
margin: 20px;
float: left;
border-radius:10px;
text-align:center;
}

.faa-icon{
background-color:#f2f2f2;
line-height: 50px;
border-radius: 100%;
font-size: 30px;
padding: 3%;
color:red;


}